.App-header {
  text-align: left;
  margin-left: 10vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top left;
  justify-content: top left;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
