.faqMain{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30vh;
}

.questionsContainer{
    background-color: rgb(227, 227, 227);
    width: 60%;
    top: 50vh;
    position: absolute;
}

.faqTitle{
    top: 25vh;
    position: absolute;
}

.questionDiv{
    width: 100%;
    border-bottom: solid black 1px;
}

.questionHeader:hover{
    cursor: pointer;
}

.answer{
    display: flex;
}

.questionHeader{
    
}


.headerText{
    font-size: 2vw;
    margin-left: 2vw;
    font-weight: bold;
}

.answerText{
    margin-left: 5vw;
}