@import "~react-image-gallery/styles/css/image-gallery.css";

.galleryMain{
    justify-content: center;
    display: flex;
}

.galleryImages{
    margin-top: 1vh;
}

@media screen and (max-width: 768px) {
    .galleryImages{
        height: 90vw;
        width: 90vw;
        margin-top: -5vh;
    }
}