.homeMain{
    background-color: black;
    justify-content: center;
    text-align: center;
}

.champImg{
    height: 25.27vw;
    width: 52.71vw;
    margin-top: 15vh;
}

.quoteImg{
    height: 15vw;
    width: 30vw;
    position: absolute;
    top: 40vh;
    right: 20vw;
}

/*Phone styles*/
@media screen and (max-width: 767px) {
    .quoteImg {
        height: 30vw;
        width: 60vw;
        top: 10vh;
        right: 10vw;
    }

    .champImg{
        height: 117.2vw;
        width: 86vw;
        margin-top: 5vh;
    }
}